nav {
    position: fixed;
    background-color: #476352;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;

  }
  
  .mainnav {
    list-style-type: none;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .mainnav a {
    color: white;
    text-decoration: none;
  }
  
  .mainnav a:hover {
    color: red;
  }
  
  li {
    margin: 20px;
    gap: 15px;
  }
  
  
  .left-links {
    display: flex; 
    gap: 15px; 
  }
  
  
  .auth-link-container {
    display: flex; 
    gap: 15px; 
    margin-left: auto; 
  }
  
  .landing-page-nav {
    background-color: black ; 
    border-bottom: 2px solid white; 
    
    
  }